---
import { Icon } from "astro-icon/components";
import { navbarItems } from "../../data/navbarItems";
import { socials } from "../../data/socials";
import NavbarList from "./NavbarList.astro";
---

<header class="fixed top-0 left-0 w-full z-50 bg-amber-50">
  <nav
    class="py-4 px-10 md:px-24 lg:px-0 flex justify-between lg:justify-evenly items-center relative h-10 lg:h-14"
  >
    <div class="flex space-x-3 items-center text-amber-900">
      <Icon name="logo/coffe" class="lg:text-3xl text-2xl" />
      <Icon name="logo/abc" class="lg:text-6xl text-4xl" />
    </div>
    <input id="menu-toggle" type="checkbox" class="hidden" />

    <div class="hidden lg:flex items-center">
      <NavbarList items={navbarItems} variant="default" />
    </div>
    <div class="hidden md:flex items-center">
      <NavbarList items={socials} variant="default" />
    </div>

    <label for="menu-toggle" class="lg:hidden cursor-pointer z-50">
      <span class="sr-only">Abrir menú</span>
      <Icon
        id="menu-icon"
        name="ui/menu"
        class="text-xl text-slate-500 hover:text-slate-700"
      />
      <Icon id="close-menu" name="ui/x" class="hidden text-xl text-red-600" />
    </label>
  </nav>
</header>

<div id="overlay" class="hidden fixed inset-0 bg-black/30 z-40"></div>
<div
  id="mobile-menu"
  class="hidden fixed top-10 right-0 w-64 z-50 bg-amber-50 rounded-lg border border-amber-100 shadow-md"
>
  <NavbarList items={navbarItems} variant="mobile" />
  <div class="md:hidden block">
    <hr class="text-slate-300" />
    <NavbarList items={socials} variant="mobile" />
  </div>
</div>

<script>
  const toggle = document.getElementById("menu-toggle") as HTMLInputElement;
  const menu = document.getElementById("mobile-menu") as HTMLElement;
  const overlay = document.getElementById("overlay") as HTMLElement;
  const navItems = document.querySelectorAll(".nav-item");
  const header = document.querySelector("header");
  const menuIcon = document.getElementById("menu-icon");
  const closeIcon = document.getElementById("close-menu");

  function closeMenu() {
    toggle.checked = false;
    menu.classList.add("hidden");
    overlay.classList.add("hidden");
    closeIcon?.classList.add("hidden");
    menuIcon?.classList.remove("hidden");
  }

  toggle.addEventListener("change", () => {
    if (toggle.checked) {
      menu.classList.remove("hidden");
      overlay.classList.remove("hidden");
      closeIcon?.classList.remove("hidden");
      menuIcon?.classList.add("hidden");
    } else {
      closeMenu();
    }
  });

  overlay.addEventListener("click", closeMenu);

  navItems.forEach((item) => item.addEventListener("click", closeMenu));

  // Add shadow to header on scroll
  let lastScrollY = 0;
  window.addEventListener("scroll", () => {
    if (lastScrollY != window.scrollY) {
      requestAnimationFrame(() => {
        header?.classList.toggle("shadow-md", window.scrollY > 50);
        lastScrollY = window.scrollY;
      });
    }
  });
</script>
