---
import { Icon } from "astro-icon/components";

interface NavbarItem {
  ref: string;
  name: string;
  icon?: string;
}

interface Props {
  items: NavbarItem[];
  variant?: "default" | "mobile";
}

const { items, variant = "default" } = Astro.props;
const isSocials = items.every((item) => item.icon);
---

<ul
  class={`flex ${
    variant === "mobile"
      ? isSocials
        ? "flex-row justify-evenly py-3"
        : "flex-col text-center"
      : "space-x-6"
  }`}
>
  {
    items.map((item) => (
      <li>
        <a
          href={item.ref}
          class={`nav-item px-4 py-2 font-semibold  transition-colors text-slate-500 hover:text-slate-700
              ${
                variant === "mobile"
                  ? "block rounded-lg hover:bg-slate-200"
                  : ""
              }`}
          data-ref={item.ref}
        >
          {item.icon ? (
            <>
              <span class="sr-only">{item.name}</span>
              <Icon
                name={item.icon}
                class="text-xl text-slate-500 hover:text-slate-700"
              />
            </>
          ) : (
            item.name
          )}
        </a>
      </li>
    ))
  }
</ul>

<style>
  .active {
    color: #374151; /* slate-700 */
  }
</style>
